.header {
  margin: auto;
  text-align: center;
}


.statsContainer {
  text-align: center;
  margin: 3%;
}
.statsLink {
  text-decoration: none;
}

.gallery {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.imgHolder {
  margin: 1%;
}

.deleteButton {
  position: absolute;
}

.chartContainer {
  text-align: center;
}

.chart {
  display: flex;
  align-items: center;
}